{{ if .IsHome }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}
<meta charset="utf-8" />
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if .IsPage }}
<meta name="description" content="{{ .Summary | plainify }}">
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<noscript><link rel="stylesheet" href="{{ .Site.BaseURL }}css/noscript.css" /></noscript>
<link rel="icon" type="image/png" href="{{.Site.BaseURL}}favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{.Site.BaseURL}}favicon-16x16.png" sizes="16x16" />
{{ template "_internal/google_analytics_async.html" . }}
