{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    {{ if .Site.Params.logo.showOnIndexPage }}
      <div class="profile-pic">
          <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo.url }}">
    </div>
    {{ end }}

    <h1 class="article-title title-greeting">Hi! I'm {{ .Site.Params.shortName }}.</h1>
    <div class="article-content custom-bold short-bio">
        {{ .Site.Params.shortBio | safeHTML }}
    </div>

    <img class="" src="">
    <ul class="icons">
        <li><a href="{{ .Site.BaseURL}}post" class="icon alt fas fa-pencil-alt"><span class="label">Blog</span></a></li>
        <li><a href="{{ .Site.Params.githubLink }}" class="icon alt fab fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="{{ .Site.Params.linkedinLink }}" class="icon alt fab fa-linkedin"><span class="label">Linkedin</span></a></li>
        <li><a href="{{ .Site.Params.keybaseLink }}" class="icon alt fab fa-keybase"><span class="label">Keybase</span></a></li>
    </ul>
  </article>
</main>

{{ partial "footer.html" . }}
