<!DOCTYPE HTML>
<html>
	<head>
        {{ partial "head.html" . }}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
					</header>
                <nav id="nav">
                    {{ partial "nav.html" . }}
                </nav>
				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
                                <div class="spotlight">
									<div class="content">
										<header class="major">
                                            <h2>Hi! I'm {{ .Site.Params.name  }}.</h2>
										</header>
                                        <p>{{ .Site.Params.shortBio | safeHTML }}</p>
									    <ul class="icons">
                                            <li><a href="{{ .Site.BaseURL}}post" class="icon alt fa-pencil"><span class="label">Blog</span></a></li>
                                            <li><a href="{{ .Site.Params.githubLink }}" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                                            <li><a href="{{ .Site.Params.linkedinLink }}" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
										</ul>
									</div>
                                    <span class="image"><img src="{{ .Site.BaseURL}}{{ .Site.Params.profileFile }}" alt=""></span>
								</div>
							</section>


					</div>

				<!-- Footer -->
					<footer id="footer">
                        {{ partial "footer.html" . }}
					</footer>

			</div>
	</body>
</html>
