{{ partial "header.html" . }}

<main class="content" role="main">

  <div class="archive">
    {{ range (where .Data.Pages "Type" "post").GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    {{ $href := .Permalink }}
    {{ $title := .Title }}
    {{ if .Params.customPermalink }}
      {{ $href = .Params.customPermalink }}
      {{ $title = printf "%s 🡵" $title }}
    {{ end }}
    <article class="archive-item">
      <a href="{{ $href }}" {{ if .Params.customPermalink }} target="_blank" {{ end }} class="archive-item-link">{{ $title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "January 2" }}
      </span>
    </article>
    {{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
